@using System.Text.Json;
@page "/fileviewer"
@inject NotificationService notificationService

<PageTitle>File Viewer</PageTitle>

<InputFile OnChange="@LoadFilesAsync" multiple>Upload json file(s)</InputFile>

@if (files.Count > 0)
{
    <LoadedFileTable Files="@files" FileRemoved="RemoveFile" />

    <EventTimeChart EventTimes="@flows.Select(f => f.Time)" />

    <div class="chart-grid-spacer"></div>

    <FlowDataGrid Flows="@flows" />
}
else
{
    <div id="no-files-div">
        <span>Upload a file to get started!</span>
    </div>
}

@code {
    private List<LoadedFile> files = new List<LoadedFile>();
    private List<string> errors = new();
    private List<Flow> flows = new();
    private long maxAllowedSize = 1024 * 1024 * 10; // 10 MB

    private async Task LoadFilesAsync(InputFileChangeEventArgs e)
    {
        var browserFiles = e.GetMultipleFiles();
        AddLoadedFiles(browserFiles);

        foreach (var file in browserFiles)
        {
            if (IsFileJson(file))
            {
                await LoadFileAsync(file);
            }
            else 
            {
                HandleLoadError($"{file.Name} is not a json file", file.GetHashCode());
                files.RemoveAll(f => f.BrowserFileHashCode == file.GetHashCode());    
            }
        }   
    }

    private void AddLoadedFiles(IEnumerable<IBrowserFile> browserFiles)
    {
        foreach (var file in browserFiles)
        {
            files.Add(new LoadedFile {
                FileName = file.Name,
                IsLoading = true,
                Size = file.Size,
                BrowserFileHashCode = file.GetHashCode()
            });
        }
    }

    private bool IsFileJson(IBrowserFile file) => file.ContentType == "application/json";

    private async Task LoadFileAsync(IBrowserFile browserFile)
    {
        var fileHashCode = browserFile.GetHashCode();
        var readStream = browserFile.OpenReadStream(maxAllowedSize: maxAllowedSize);
        var flowLogFile = await JsonSerializer.DeserializeAsync<FlowLogFile>(readStream, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
        
        if (flowLogFile != null && flowLogFile.Records.Count > 0)
        {
            var fileFlows = await Task.Run(() => FlowParser.Parse(flowLogFile, fileHashCode).OrderBy(f => f.Time));
            flows.AddRange(fileFlows);
            files.Where(f => f.BrowserFileHashCode == fileHashCode).ToList().ForEach(f => {
                f.FirstFlowTime = fileFlows.First().Time;
                f.LastFlowTime = fileFlows.Last().Time;
                f.FlowCount = fileFlows.Count();
                f.IsLoading = false;               
            });
        }
        else
        {
            HandleLoadError($"File {browserFile.Name} does not contain any flow records", fileHashCode);
        }
    }

    private void HandleLoadError(string error, int fileHashCode)
    {
        files.Where(f => f.BrowserFileHashCode == fileHashCode).First().LoadError = error;
        SendErrorNotification(error);                
    }

    private void SendErrorNotification(string error)
    {
        notificationService.Notify(new NotificationMessage
        {
            Severity = NotificationSeverity.Error,
            Detail = error,
            Summary = "Error loading file",
            Duration = 8000
        });
    }

    private void RemoveFile(LoadedFile file)
    {

        files.RemoveAll(f => f.BrowserFileHashCode == file.BrowserFileHashCode);
        flows.RemoveAll(f => f.BrowserFileHashCode == file.BrowserFileHashCode);
        StateHasChanged();
    }
}
