@using System.Text.Json;
@page "/fileviewer"
@inject NotificationService notificationService
@inject DialogService dialogService

<PageTitle>File Viewer</PageTitle>

<InputFile OnChange="@LoadFilesAsync" multiple>Upload json file(s)</InputFile>

@if (files.Count > 0)
{
    <LoadedFileTable Files="@files" FileRemoved="RemoveFile" />

    <EventTimeChart EventTimes="@flows.Select(f => f.Time)" />

    <div class="chart-grid-spacer"></div>

    <FlowDataGrid Flows="@flows" />
}
else
{
    <div id="no-files-div">
        <span>Upload a file to get started!</span>
    </div>
}

@code {
    private List<LoadedFile> files = new List<LoadedFile>();
    private List<string> errors = new();
    private List<Flow> flows = new();
    private long maxAllowedSize = 1024 * 1024 * 10; // 10 MB

    private async Task LoadFilesAsync(InputFileChangeEventArgs e)
    {
        ShowBusyDialog();
        var browserFiles = e.GetMultipleFiles();
        AddLoadedFiles(browserFiles);

        foreach (var file in browserFiles)
        {
            await LoadFileAsync(file);
        }   

        CloseBusyDialogIfAllFilesHaveLoaded();
    }

    private void ShowBusyDialog()
    {
        dialogService.OpenAsync("", ds => 
            @<div>
                <div class="row">
                    <div class="col-md-12">
                        Loading...
                    </div>
                </div>
        </div>, new DialogOptions() { ShowTitle = false, Style = "min-height:auto;min-width:auto;width:auto" });
    }

    private void AddLoadedFiles(IEnumerable<IBrowserFile> browserFiles)
    {
        foreach (var file in browserFiles)
        {
            files.Add(new LoadedFile {
                FileName = file.Name,
                IsLoading = true,
                Size = file.Size,
                BrowserFileHashCode = file.GetHashCode()
            });
        }
    }

    private async Task LoadFileAsync(IBrowserFile file)
    {
        if (IsFileJson(file))
        {
            await DeserializeAndParseFileAsync(file);
            StateHasChanged();
        }
        else
        {
            HandleLoadError($"{file.Name} is not a json file", file.GetHashCode());
            files.RemoveAll(f => f.BrowserFileHashCode == file.GetHashCode());
        }
    }

    private bool IsFileJson(IBrowserFile file) => file.ContentType == "application/json";

    private async Task DeserializeAndParseFileAsync(IBrowserFile browserFile)
    {
        var fileHashCode = browserFile.GetHashCode();
        var flowLogFile = await DeserializeFileAsync(browserFile);
        
        if (flowLogFile != null && flowLogFile.Records.Count > 0)
        {
            var fileFlows = FlowParser.Parse(flowLogFile, fileHashCode).OrderBy(f => f.Time);
            flows.AddRange(fileFlows);
            UpdateLoadedFile(fileFlows, fileHashCode);              
        }
        else
        {
            HandleLoadError($"File {browserFile.Name} does not contain any flow records", fileHashCode);
        }
    }

    private async Task<FlowLogFile?> DeserializeFileAsync(IBrowserFile browserFile)
    {
        var readStream = browserFile.OpenReadStream(maxAllowedSize: maxAllowedSize);
        return await JsonSerializer.DeserializeAsync<FlowLogFile>(readStream, new JsonSerializerOptions { PropertyNamingPolicy = JsonNamingPolicy.CamelCase });
    }

    private void UpdateLoadedFile(IEnumerable<Flow> fileFlows, int fileHashCode)
    {
        var parsedFile = files.Where(f => f.BrowserFileHashCode == fileHashCode).First();
        parsedFile.FirstFlowTime = fileFlows.First().Time;
        parsedFile.LastFlowTime = fileFlows.Last().Time;
        parsedFile.FlowCount = fileFlows.Count();
        parsedFile.IsLoading = false;
    }

    private void HandleLoadError(string error, int fileHashCode)
    {
        var file = files.Where(f => f.BrowserFileHashCode == fileHashCode).First();
        file.LoadError = error;
        file.IsLoading = false;
        SendErrorNotification(error);                
    }

    private void SendErrorNotification(string error)
    {
        notificationService.Notify(new NotificationMessage
        {
            Severity = NotificationSeverity.Error,
            Detail = error,
            Summary = "Error loading file",
            Duration = 8000
        });
    }

    private void RemoveFile(LoadedFile file)
    {

        files.RemoveAll(f => f.BrowserFileHashCode == file.BrowserFileHashCode);
        flows.RemoveAll(f => f.BrowserFileHashCode == file.BrowserFileHashCode);
        StateHasChanged();
    }

    private void CloseBusyDialogIfAllFilesHaveLoaded()
    {
        if (files.All(f => !f.IsLoading))
        {
            Console.WriteLine("dialog close");
            dialogService.Close();
        }
    }
}
