@page "/fileviewer"
@inject NotificationService notificationService
@inject DialogService dialogService

<PageTitle>File Viewer</PageTitle>

<InputFile OnChange="@LoadFilesAsync" multiple>Upload json file(s)</InputFile>

@if (loadedFileManager.LoadedFiles.Count > 0)
{
    <LoadedFileTable Files="@loadedFileManager.LoadedFiles" FileRemoved="RemoveFile" />

    <EventTimeChart EventTimes="@flows.Select(f => f.Time)" />

    <div class="chart-grid-spacer"></div>

    <FlowDataGrid Flows="@flows" />
}
else
{
    <div id="no-files-div">
        <span>Upload a file to get started!</span>
    </div>
}

@code {
    private List<string> errors = new();
    private List<Flow> flows = new();
    private FlowLogFileParser flowLogFileParser = new();
    private LoadedFileManager loadedFileManager = new();

    private async Task LoadFilesAsync(InputFileChangeEventArgs e)
    {
        ShowBusyDialog();
        var browserFiles = e.GetMultipleFiles();
        AddLoadedFiles(browserFiles);
        await TryLoadFilesAsync(browserFiles);
        CloseBusyDialogIfAllFilesHaveLoaded();
    }

    private void ShowBusyDialog()
    {
        dialogService.OpenAsync("", ds => 
            @<div>
                <div class="row">
                    <div class="col-md-12">
                        Loading...
                    </div>
                </div>
        </div>, new DialogOptions() { ShowTitle = false, Style = "min-height:auto;min-width:auto;width:auto" });
    }

    private void AddLoadedFiles(IEnumerable<IBrowserFile> browserFiles)
    {
        foreach (var file in browserFiles)
        {
            loadedFileManager.StartLoad(file);
        }
    }

    private async Task TryLoadFilesAsync(IEnumerable<IBrowserFile> browserFiles)
    {
        foreach (var file in browserFiles)
        {
            await TryLoadFileAsync(file);
        }
    }

    private async Task TryLoadFileAsync(IBrowserFile file)
    {
        try
        {
            await LoadFileAsync(file);
        }
        catch (BrowserFileLoaderException ex)
        {
            HandleLoadError(ex.Message, file.GetHashCode());
        }
        catch (Exception ex)
        {
            HandleLoadError("An unknown error occurred while loading the file.", file.GetHashCode());
            Console.WriteLine(ex.Message);
        }
    }

    private async Task LoadFileAsync(IBrowserFile file)
    {
        var fileLoader = new BrowserFileLoader(file, flowLogFileParser);
        var loadedFlows = await fileLoader.LoadAsync();
        flows.AddRange(loadedFlows);
        loadedFileManager.FinishLoad(file.GetHashCode(), loadedFlows);
        StateHasChanged();
    }

    private void HandleLoadError(string error, int fileHashCode)
    {
        loadedFileManager.HandleLoadError(fileHashCode, error);
        SendErrorNotification(error);                
    }

    private void SendErrorNotification(string error)
    {
        notificationService.Notify(new NotificationMessage
        {
            Severity = NotificationSeverity.Error,
            Detail = error,
            Summary = "Error loading file",
            Duration = 8000
        });
    }

    private void RemoveFile(LoadedFile file)
    {
        loadedFileManager.RemoveLoadedFile(file.BrowserFileHashCode);
        flows.RemoveAll(f => f.BrowserFileHashCode == file.BrowserFileHashCode);
        StateHasChanged();
    }

    private void CloseBusyDialogIfAllFilesHaveLoaded()
    {
        if (loadedFileManager.LoadedFiles.All(f => !f.IsLoading))
        {
            dialogService.Close();
        }
    }
}
